#tabs {
	display: inline-flex;
	padding-left: 70%;
}

#tabs .tabs {
	background-color: white;
	padding: 0.4em;
	cursor: pointer;
	margin-bottom: 0px;
}

#tabs h2 {
	background-color: #e0e0e0d5;
	border-color: #ffffffd8;
	border-style: solid;
	border-width: 1px;
	padding: 0.4em;
	cursor: pointer;
	margin-bottom: 0px;
}

.contenedor {
}
