<html lang="es-mx">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar tarea</title>
  </head>
  <body>
    535 missing reports
    <nav class="inlinenav">
      <div class="divUsuario"></div>
      <section class="comments">
        <img src="#" />
        #
      </section>
      <button class="addTag">
        Add tag
      </button>
      <button>
        <img src="#" />
        Save
      </button>
      <button>
        Follow
      </button>
      <button></button>
    </nav>
  </body>
</html>
