<!DOCTYPE html>
<html lang="es-mx">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/tabpanel.css">
  <title>Agregar tarea</title>
</head>

<body>
  535 <input type="text">
  <nav class="inlinenav">
    <div class="divUsuario"></div>
    <section class="comments">
      <img src="#" />
      #
    </section>
    <button class="addTag">
      Add tag
    </button>
    <button>
      <img src="#" />
      Save
    </button>
    <button>
      Follow
    </button>
    <button></button>
  </nav>

  <div class="tabPanel-widget">
    <nav id="tabs">
      <h2 class="tabs" onclick="mostrarDiv(event, 'detalles')">Detalles</h2>
      <h2 class="" onclick="mostrarDiv(event, 'hora')">Hora</h2>
      <h2 class="" onclick="mostrarDiv(event, 'archivos')">Archivos</h2>
    </nav>
    <div class="contenedor">
      <div id="detalles">
        <h2>Descripcion</h2>
        <textarea cols="30" rows="2"></textarea>
        <h2>Colaborador</h2>
        <select id="cmbColaborador"></select>
      </div>
      <div id="hora" style="display: none;">
        <h2>Fecha de conclusión</h2>
        <input type="datetime">
        <h2>Status</h2>
        <select id="cmbStatus"></select>
      </div>
      <div id="archivos" style="display: none;">
        
      </div>
    </div>
  </div>
  <script src="/js/mostrarDiv.js"></script>
</body>

</html>